extends root_layout

block content
    table
        thead
            th="TRIP"
            th="SHIP"
            th="CURRENT OPS"
            th="DETAILS"
            th="TIMESTAMP"
        each cuData in allDataNow
            tr
                td=cuData.id_control_unit_data
                td=cuData.ship_description
                td=cuData.state_name
                td=cuData.main_event_field
                td=cuData.last_record