extends root_layout

block content
    table
        thead
            th="TRIP"
            th="SHIP"
            th="TIMESTAMP"
            th="QUAY"
            th="BERTH"
        each cuData in allDataNow
            tr
                td=cuData.id_control_unit_data
                td=cuData.ship_description
                td=cuData.ts_fine_ormeggio
                td=cuData.stop_quay
                td=cuData.stop_berth